<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="4">
	<listeners>
		<listener class-name = "RetryLogic.MyTransformer"/>
	</listeners>
	<test name = "RetryImplmentation">
	<classes>
		<class name = "RetryLogic.Testing"/>
	</classes>
	</test>


<!-- 	<test name="Google Test1">
	<parameter name = "browser" value = "chrome"/>
	<parameter name = "url" value = "https://www.google.com/" />
		<classes>
			<class name="Testng.TestNGConcepts" />
		</classes>
	</test>
	
	<test name="Google Test2">
		<classes>
			<class name="Testng.DataProviderTest" />
		</classes>
	</test> -->


</suite>